spring:
  config:
    import: optional:file:.env[.properties]
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: none


    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: dev.charles.SimpleBlogAPI.config.CustomPostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        opaquetoken:
          introspection-uri: ${INTROSPECTION_URI}
          client-id: ""
          client-secret: ""

server:
  port: 8081